Source: ros-rolling-ur-moveit-config
Section: misc
Priority: optional
Maintainer: Denis Stogl <denis.stogl@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-python, ros-rolling-rclpy, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-ur-moveit-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-launch, ros-rolling-launch-ros, ros-rolling-moveit-ros-move-group, ros-rolling-moveit-servo, ros-rolling-rclpy, ros-rolling-rviz2, ros-rolling-ur-description, ros-rolling-urdf, ros-rolling-xacro, ros-rolling-ros-workspace
Description: An example package with MoveIt2 configurations for UR robots.
